@using System.Configuration
@using ServiceStack.MiniProfiler
@using ServiceStack.Mvc
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="FormsApp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @(HttpContext.Current.IsDebuggingEnabled ? Html.RenderCssBundle("~/Content/friendly.css.bundle", BundleOptions.Normal) : Html.RenderCssBundle("~/Content/friendly.css.bundle", BundleOptions.MinifiedAndCombined))
    @RenderSection("Styles", required: false)
    <link rel="shortcut icon" href="../../Content/images/Logo-Favicon-Master-16.ico">
    <!--[if IE]><link rel="SHORTCUT ICON" href="../../Content/images/Favicon.ico"/><![endif]-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
 
        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
    <![endif]-->
</head>
<body>
    <div id="header">
        <h1><a href="/">Split Solutions</a></h1>
    </div>
    <div id="user-nav" ng-controller="LoginMenuCtrl">
        <ul class="btn-group">
            <li class="btn"><a ng-show="user.IsAuthenticated" href="/" style="display: none"><i class="icon icon-home"></i><span class="text">Home</span></a></li>
            <li class="btn"><a class="dropdown-toggle" ng-show="user.IsAuthenticated" data-toggle="dropdown" href="#"><span class="icon-user icon"></span>{{user.DisplayName}}</a>
                <ul class="dropdown-menu">
                    <li ng-show="isAdmin"><a title="Administration" href="/#/Administrator/ClientCases/Admin/{{user.CustomId}}">Profile</a></li>
                    <li ng-show="isAttorney"><a title="Attorney Page" href="/#/Attorney/AttorneyPage/Attorney/{{user.CustomId}}">Profile</a></li>
                    <li><a title="Log off" href="/#/Account/Logoff">Logout</a></li>
                </ul>
            </li>
            <li class="btn"><a ng-show="!user.IsAuthenticated" style="display: none" href="/#/Account/Login/"><i class="icon icon-off"></i><span class="text">Log in</span></a></li>
        </ul>
    </div>
    @RenderBody()
    <div id="sidebar" ng-controller="MenuCtrl">
        <ul class="ng-cloak">
            <li ng-repeat="menuItem in menuItems" ng-click="menuClick()" ng-class="(menuItem.showSubMenu) ? 'open' :''" class="{{menuItem.itemClass}}"><a href="{{menuItem.path}}"><i class="{{menuItem.iconClass}}"></i><span>{{menuItem.text}}</span></a>
                <ul ng-show="menuItem.showSubMenu">
                    <li ng-repeat="subMenuItem in menuItem.subMenuItems | filter:enableFilter" class="{{subMenuItem.itemClass}}" ng-click="subMenuClick(subMenuItem)" data-path="{{subMenuItem.path}}"><a href="javascript:"><i class="{{subMenuItem.iconClass}}"></i><span>{{subMenuItem.text}}</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="content">
        <div ng-controller="HeaderCtrl" class="ng-cloak">
            <div id="content-header">
                <div class="row" ng-show="showFeedbackHeader">
                    <div class="col-lg-12">
                        <h1 style="display: inline-block">{{PageTitle}}</h1>
                        <ul class="quick-actions" style="position: absolute; right: 0;">
                            <li>
                                <a class="btn" ng-click="showIssueForm()">Feedback <i class="icon icon-comment"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-12">
                        <h4 style="display: inline-block">{{SecondaryTitle}}</h4>
                    </div>
                </div>
                <div class="row" ng-show="showOutput">
                    <form class="col-lg-12" action="/output/pdf" id="topPrintButton" method="post" target="_blank">
                        <input type="hidden" class="html" name="html" />
                        <input type="hidden" class="name" name="name" />
                        <ul class="quick-actions" style="position: absolute; right: 0;">
                            <li>
                                <a class="btn tip-bottom printForm" ng-click="submitPrint()"><i class="icon icon-print"></i></a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div ng-show="showFeedbackHeader">
                <div class="row" ng-show="showIssue">
                    <form ng-submit="submitIssues()" name="feedbackForm" class="form-inline pull-right">
                        <div class="form-group" style="border: 0;">
                            <input class="form-control" type="text" ng-model="feedback.Email" name="feedback.Email" placeholder="Your Email">
                        </div>
                        <div class="form-group" style="border: 0;">
                            <input class="form-control" type="text" ng-model="feedback.Message" name="feedback.Message" placeholder="List feedback here" />
                        </div>
                        <div class="form-group" style="border: 0;">
                            <button type="submit" class="btn btn-default btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" id="breadcrumb" ng-show="showFeedbackHeader" style="margin-top: 10px;">
                <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
                <a ng-repeat="level in levels" class="tip-bottom" href="/#/{{level.path}}">{{level.text}}</a>
            </div>
        </div>
        <div ng-controller="MessageCtrl" ng-show="showMessage" class="row">
            <div class="col-md-12 ng-cloak">
                <div class="alert {{AlertType}}">
                    <a ng-click="close();" class="close">×</a>
                    <strong>{{Title}}</strong> {{Message}}
                </div>
            </div>
        </div>
        <div ng-view></div>
    </div>
    <div class="row">
        <div id="footer" class="col-xs-12">
            ©Split Solutions 2013
        </div>
    </div>
    @if (!Convert.ToBoolean(ConfigurationManager.AppSettings["DisableMiniProfiler"]))
    {
        Html.Raw(Profiler.RenderIncludes().ToHtmlString());
    }
    <div ng-controller="LoadingCtrl" id="loading" ng-show="loading"><span>{{message}}</span></div>
    @Html.Partial("_templateErrorMessage")
    @*    @(HttpContext.Current.IsDebuggingEnabled ? Html.RenderJsBundle("~/Scripts/friendly.js.bundle", BundleOptions.Normal) : Html.RenderJsBundle("~/Scripts/friendly.js.bundle", BundleOptions.MinifiedAndCombined))*@
    @Html.RenderJsBundle("~/Scripts/friendly.js.bundle", BundleOptions.Normal)
</body>
</html>
