@using Models.ViewModels

<h2>Vehicles</h2>
@if (Model.VehicleAllViewModel.VehicleViewModel.VehicleList.Count ==0)
{
    <p class="indented">There are no vehicles at issue in this case.  Each party will own and have exclusive use of the vehicle(s) currently in her or her possession, and each party will be solely responsible for all expenses related to owning, insuring, maintaining and properly registering such vehicle(s).</p>
}
else
{
    foreach (var vehicle in Model.VehicleAllViewModel.VehicleViewModel.VehicleList)
    {
    <p class="indented">@vehicle.Owner will have ownership and exclusive use of the @vehicle.Year @vehicle.Make @vehicle.Model. 
            @vehicle.Owner will be solely responsible for all expenses related to owning, insuring, maintaining and properly registering said vehicle.
    </p> 
        if (vehicle.Refinanced==((int)YesNo.Yes))
        {
    <p class="indented">@vehicle.Name will refinance this vehicle by @if (vehicle.RefinanceDate != null)
                                                    {
        @vehicle.RefinanceDate.Value.ToString("mm/dd/yyyy")
                                                    }
    </p>  
        }
    }
}
