@model FriendlyForms.Models.ParentingPlanViewModel
@using Models.ViewModels
<h2>Major Holidays and Vacation Periods</h2>
@foreach (var child in Model.ChildAllViewModel.ChildViewModel.Children)
{
    <h2 class="indented">@child.Name</h2>

    <h3 class="indented">Thanksgiving</h3>
    <p class="indented">
        @{
    var childHolidays = Model.HolidayViewModel.ChildHolidays.First(c => c.ChildId==(child.Id));
    var extraChildHolidays = Model.HolidayViewModel.ExtraChildHolidays.Where(c => c.ChildId==(child.Id));
        }
        @if (childHolidays.ThanksgivingFather==((int)HolidayYear.Every))
        {
            @:The father will have visitation at Thanksgiving every year.  
            }
        else if (childHolidays.ThanksgivingMother==((int)HolidayYear.Every))
        {
            @:The mother will have visitation at Thanksgiving every year.  
            }
        else
        {
            @:The @Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent will have visitation at Thanksgiving in 
            @(@Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent == "Father" ? Enum.GetName(typeof(HolidayYear), childHolidays.ThanksgivingFather) : Enum.GetName(typeof(HolidayYear), childHolidays.ThanksgivingMother))
            @:years.    
            }
        Visitation will begin at the time the school day ends on the last
            school day prior to the holiday break, and end at @childHolidays.ThanksgivingTime on 

            @if (childHolidays.Thanksgiving==((int)Thanksgiving.Before))
            {
                <span>the day before returning to school.</span>
            }
            else if (childHolidays.Thanksgiving==((int)Thanksgiving.After))
            {
                <span>the first day of school after the holiday.</span>
            }
            else
            {
                <span>@childHolidays.ThanksgivingOther</span>
            }
    </p>
    <h3 class="indented">Winter Break</h3>
    <p class="indented">
        @if (childHolidays.ChristmasFather==((int)HolidayYear.Every))
        {
            @:The father will have visitation at Winter Break every year.  
            }
        else if (childHolidays.ChristmasMother==((int)HolidayYear.Every))
        {
            @:The mother will have visitation at Winter Break every year.  
            }
        else
        {
            @:The @Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent will have visitation at Winter Break in
            @(@Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent == "Father" ? Enum.GetName(typeof(HolidayYear), childHolidays.ChristmasFather) : Enum.GetName(typeof(HolidayYear), childHolidays.ChristmasMother))
            @:years.
            }
        Visitation will begin at the time the school day ends on the last
            school day prior to the holiday break, and end at @childHolidays.ChristmasTime
        @if (childHolidays.Christmas==((int)Christmas.AfterBreak))
        {
            <span>until returning to school after Winter Break</span>
        }
        else if (childHolidays.Christmas==((int)Christmas.Eve))
        {
            <span>on Christmas Eve </span>
        }
        else if (childHolidays.Christmas==((int)Christmas.Day))
        {
            <span>on Christmas Day</span>
        }
        else if (childHolidays.Christmas==((int)Christmas.AfterDay))
        {
            <span>on the day after Christmas</span>
        }
        else
        {
            <span>@childHolidays.ChristmasOther</span>
        }
    </p>
    <h3 class="indented">Spring Break</h3>
    <p class="indented">
        @if (childHolidays.SpringBreakFather==((int)HolidayYear.Every))
        {
            @:The father will have visitation at Spring Break every year.  
            }
        else if (childHolidays.SpringBreakFather==((int)HolidayYear.Every))
        {
            @:The mother will have visitation at Spring Break every year.  
            }
        else
        {
            @:The @Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent will have visitation at Spring Break in
            @(@Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent == "Father" ? Enum.GetName(typeof(HolidayYear), childHolidays.SpringBreakFather) : Enum.GetName(typeof(HolidayYear), childHolidays.SpringBreakMother))
            @:years.
            }
        Visitation will begin at the time the school day ends on the last
            school day prior to the holiday break, and end at  
            @if (childHolidays.SpringBreak==((int)YesNo.Yes))
            {
                <span>the conclusion of spring break</span>
            }
            else
            {
                <span>@childHolidays.SpringOther</span>
            }
    </p>
    <h3 class="indented">Summer Break</h3>
    <p class="indented">The parties agree that summer break begins @childHolidays.SummerBeginDays days after the last day of school at @childHolidays.SummerBeginTime</p>
    <p class="indented">The parties agree that summer break ends @childHolidays.SummerEndDays days after the last day of school at @childHolidays.SummerEndTime</p>
    <p class="indented">The parties will manage summer break visitation as follows: @childHolidays.SummerDetails</p>
    <h3 class="indented">Fall Break</h3>
    <p class="indented">
        @if (childHolidays.SpringBreakFather==((int)HolidayYear.Every))
        {
            @:The father will have visitation at Fall Break every year.  
            }
        else if (childHolidays.SpringBreakFather==((int)HolidayYear.Every))
        {
            @:The mother will have visitation at Fall Break every year.  
            }
        else
        {
            @:The @Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent will have visitation at Fall Break in
            @(@Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent == "Father" ? Enum.GetName(typeof(HolidayYear), childHolidays.FallBreakFather) : Enum.GetName(typeof(HolidayYear), childHolidays.FallBreakMother))
            @:years.
            }
        Visitation will begin at the time the school day ends on the last
            school day prior to the holiday break, and end at 
            @if (childHolidays.FallBreak==((int)YesNo.Yes))
            {
                <span>the conclusion of fall break</span>
            }
            else
            {
                <span>@childHolidays.FallOther</span>
            }
    </p>
    <h3 class="indented">Other Holidays</h3>
    <p class="indented">The parties agree that all other holidays will be managed in accordance with the following:</p>
    <div class="row-fluid">
        <div class="span3 indented"><h3>Holiday</h3></div>
        <div class="span1"><h3>Mother</h3></div>
        <div class="span1"><h3>Father</h3></div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">MLK Day</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.MlkMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.MlkFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">President's Day</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.PresidentsMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.PresidentsFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Mother's Day</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.MothersMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.MothersFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Memorial Day</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.MemorialMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.MemorialFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Father's Day</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.FathersMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.FathersFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Independance Day</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.IndependenceMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.IndependenceFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Labor Day</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.LaborMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.LaborFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Halloween</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.HalloweenMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.HalloweenFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Child(ren)'s Birthdays</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.ChildrensMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.ChildrensFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Father's Birthdays</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.FathersBdayMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.FathersBdayFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Mother's Birthdays</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.MothersBdayMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.MothersBdayFather)</div>
    </div>
    <div class="row-fluid">
        <div class="span3 indented">Religious Holidays</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.ReligiousMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), childHolidays.ReligiousFather)</div>
    </div>
            foreach (var extra in extraChildHolidays)
            {
    <div class="row-fluid">
        <div class="span3 indented">@extra.HolidayName</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), extra.HolidayMother)</div>
        <div class="span1 indentedTiny">@Enum.GetName(typeof(HolidayYear), extra.HolidayFather)</div>
            </div>
            }
            if (childHolidays.FridayHoliday)
            {
    <p></p>
    <p class="indented">The parties agree that holiday visitation will include the following Monday, when the holiday falls on Friday.</p>
            } if (childHolidays.MondayHoliday)
            {
    <p class="indented">The parties agree that holiday visitation will include the preceding Friday, when the holiday falls on Monday.</p>
            }

}
