@model FriendlyForms.Models.ParentingPlanViewModel
<h2>Modification of Plan or Disagreements</h2>  
<p class="indented">Parties may, by mutual agreement, vary the parenting time/visitation; however, such agreement 
    shall not be a binding court order. Custody shall only be modi fi ed by court order. </p>
<p class="indented">Should the parents disagree about this parenting plan or wish to modify it, they must make a good 
    faith effort to resolve the issue between them.</p>
<h2>Parents’ Consent</h2>
<p class="indented">Please review the following and initial:</p>
<p class="indented">1. We recognize that a close and continuing parent-child relationship and continuity in the child’s 
    life is in the child’s best interest.  </p>
<div class="row-fluid">    
    <p class="span5">@Model.ParticipantViewModel.PlaintiffsName Initials_______</p>
    <p class="span5">@Model.ParticipantViewModel.DefendantsName Initials_______</p>
</div>
<p class="indented">2.  We recognize that our child’s needs will change and grow as the child matures; we have 
    made a good faith effort to take these changing needs into account so that the need for future 
    modifications to the parenting plan are minimized. </p>
<div class="row-fluid">    
    <p class="span5">@Model.ParticipantViewModel.PlaintiffsName Initials_______</p>
    <p class="span5">@Model.ParticipantViewModel.DefendantsName Initials_______</p>
</div>
<p class="indented">3. We recognize that the parent with physical custody will make the day-to-day decisions and 
emergency decisions while the child is residing with such parent. </p>
<div class="row-fluid">    
    <p class="span5">@Model.ParticipantViewModel.PlaintiffsName Initials_______</p>
    <p class="span5">@Model.ParticipantViewModel.DefendantsName Initials_______</p>
</div>
<p class="indented">4. We knowingly and voluntarily agree on the terms of this Parenting Plan. Each of us affirms 
    that the information we have provided in this Plan is true and correct. </p>
<br/><br/>
<div class="row-fluid">
    <div class="span5">
        <hr/>
        <span>Plaintiff: @Model.ParticipantViewModel.PlaintiffsName</span>
    </div>    
    <div class="span5 offset1">
        <hr/>
        <span>Defendant: @Model.ParticipantViewModel.DefendantsName</span>
    </div>    
</div>
<div class="row-fluid" style="text-align: center;">
    <br/><br/>
    <h2>ORDER</h2>
    <br/>
</div>
<p>The Court has reviewed the foregoing Parenting Plan, and it is hereby made the order of this 
    Court. </p>
<p>This Order entered on _____________________________________, 20 _____ . </p><br /><br/>
<div class="row-fluid">
    <div class="span5 offset5">
        <hr/>
        <p>JUDGE</p>
        <p>DEKALB COUNTY SUPERIOR COURT</p>        
    </div>
</div>