@using Models.ViewModels
@model FriendlyForms.Models.ParentingPlanViewModel
<div class="row-fluid">
    <h2>Day-To-Day Decisions</h2>
    <p class="indented">
        Each parent shall make decisions regarding the day-to-day care of a child while the child is residing with that 
        parent, including any emergency decisions affecting the health or safety of a child.
    </p>
</div>
<div class="row-fluid">
    <h2>Major Decisions</h2>
    <p class="indented">
        The parties must confer with one another prior to any decision related to non-emergency health care, education, religion, or extra-curricular activities.  The listing below indicates who will
            be the primary decision maker when when there is disagreement regarding the most appropriate decision. 
    </p>
    @{
        var disagreements = "";
    }
    @foreach (var child in Model.ChildAllViewModel.ChildViewModel.Children)
    {
        <h3 class="indented">@child.Name</h3>
        <p class="indented">
               @{
                    var childDecision = Model.AllDecisionsViewModel.ChildDecisions.First(c => c.ChildId == (child.Id));
                    var extraChildDecisions = Model.AllDecisionsViewModel.ChildExtraDecisions.Where(c => c.ChildId==(child.Id));
                    //If there are multiple children, both resolve could possible vary.  Take the last 'BothResolve' for now....
                    disagreements = string.IsNullOrEmpty(childDecision.BothResolve) ? disagreements : childDecision.BothResolve;        
                }
            Educational Decisions: 
            @Enum.GetName(typeof(DecisionMaker), childDecision.Education) <br/>
            Non-emergency Healthcare:
            @Enum.GetName(typeof(DecisionMaker), childDecision.HealthCare)<br/>
            Religious Upbringing:
            @Enum.GetName(typeof(DecisionMaker), childDecision.Religion)<br/>
            Extracurricular Activities:
            @Enum.GetName(typeof(DecisionMaker), childDecision.ExtraCurricular)<br/>
            @foreach (var extra in extraChildDecisions)
            {
                @extra.Description@:  @Enum.GetName(typeof(DecisionMaker), extra.DecisionMaker) <br/>
            }
        </p>
        <hr />
    }
</div>
@if (!string.IsNullOrEmpty(disagreements))
{
    <h2>Disagreements</h2>
    <div class="row-fluid">
        <p class="indented">
            Where parents have elected joint decision making in the Major Decisions section above, disagreements will be resolved in the following manner: @disagreements
        </p>
    </div>
}
