@using Models.ViewModels
@model FriendlyForms.Models.ParentingPlanViewModel
<h2>Exchange of Children</h2>
<p class="indented">The @Enum.GetName(typeof(DecisionMaker), @Model.ResponsibilityViewModel.BeginningVisitation) will be responsible to pick up or drop off children at the beginning of scheduled visitation periods.</p>
<p class="indented">The @Enum.GetName(typeof(DecisionMaker), @Model.ResponsibilityViewModel.EndVisitation) will be responsible to pick up or drop off children at the end of scheduled visitation periods.</p>
@if (Model.ResponsibilityViewModel.TransportationCosts==((int)TransportationCost.Half))
{
    <p class="indented">Each party will be responsible to pay 1/2 of the total expenses accrued between the parties, in regard to compliance with the visitation schedule.</p>
}
else if (Model.ResponsibilityViewModel.TransportationCosts==((int)TransportationCost.Own))
{
    <p class="indented">Each party will be responsible to absorb all expenses related to complying with the visitation schedule.</p>
}
else if (Model.ResponsibilityViewModel.TransportationCosts==((int)TransportationCost.Percentage))
{
    <p class="indented">The Mother shall pay @Model.ResponsibilityViewModel.MotherPercentage%, and the Father shall pay @Model.ResponsibilityViewModel.FatherPercentage% of expenses related to compliance with the visitation schedule.</p>
}
else
{
    <p class="indented">
        Visitation related expenses will be paid as follows:<br />
        @Model.ResponsibilityViewModel.OtherDetails
    </p>
}
