@using Models.ViewModels
@model FriendlyForms.Models.ParentingPlanViewModel
<h2>Parenting Time/Visitation Schedules</h2>
<p class="indented">During the term of this parenting plan, @Model.PpOutputFormHelper.CustodyInformation.NonCustodyParentName, as the non-custodial parent shall have at a minimum the following rights of parenting time/visitation:</p>
<p class="indented">
    For purposes of this parenting plan, the 
    @if (Model.ScheduleViewModel.NonCustodianWeekend==((int)ParentWeekends.FirstThird))
    {
        <span>@Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent will have the first and third weekend of each month for visitation. The @Model.PpOutputFormHelper.CustodyInformation.Parent will have the second, fourth and fifth weekend of each month.</span>
    }
    else if (Model.ScheduleViewModel.NonCustodianWeekend==((int)ParentWeekends.FirstThirdFifth))
    {
        <span>@Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent will have the first, third and fifth weekend of each month for visitation. The @Model.PpOutputFormHelper.CustodyInformation.Parent will have the second and fourth weekend of each month.</span>
    }
    else if (Model.ScheduleViewModel.NonCustodianWeekend==((int)ParentWeekends.SecondFourth))
    {
        <span>@Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent will have the second and fourth weekend of each month for visitation. The @Model.PpOutputFormHelper.CustodyInformation.Parent will have the first, third and fifth weekend of each month.</span>
    }
    else if (Model.ScheduleViewModel.NonCustodianWeekend==((int)ParentWeekends.EveryOther))
    {
        <span>parents will alternate weekends for visitation.</span>
    }
    else
    {
        <span>@Model.PpOutputFormHelper.CustodyInformation.NonCustodyParent will have @Model.ScheduleViewModel.NonCustodianWeekendOther for visitation.</span>
    }

    A weekend will begin on @Model.ScheduleViewModel.WeekendDayStart at @Model.ScheduleViewModel.PickedUp. The child(ren) will be picked up @Model.ScheduleViewModel.PickupLocation The weekend ends on 
    @Model.ScheduleViewModel.WeekendDayEnd at @Model.ScheduleViewModel.DroppedOff. The child(ren) will be dropped off @Model.ScheduleViewModel.DropOffLocation
</p>
    @if (Model.ScheduleViewModel.Weekdays == (int) YesNo.Yes)
    {
        <p class="indented">@Model.PpOutputFormHelper.CustodyInformation.NonCustodyParentName, as the non-custodial parent shall have at a minimum the following rights of parenting time/visitation on weekdays which will 
            begin at @Model.ScheduleViewModel.WeekdayPickup. The child(ren) will be picked up at @Model.ScheduleViewModel.WeekdayPickupLocation. Weekday visitation will end at @Model.ScheduleViewModel.WeekdayDropoff. The child(ren) will be dropped off at @Model.ScheduleViewModel.DropOffLocation. This shall apply for the following day(s):
        </p>
        <p>
            @if (Model.ScheduleViewModel.MondayParent)
            {
                <p class="linehtless50">Monday</p>
            }
            @if (Model.ScheduleViewModel.TuesdayParent)
            {
                <p class="linehtless50">Tuesday<br /></p>
            }
            @if (Model.ScheduleViewModel.WednesdayParent)
            {
                <p class="linehtless50">Wednesday</p>
            }
            @if (Model.ScheduleViewModel.ThursdayParent)
            {
                <p class="linehtless50">Thursday</p>
            }
            @if (Model.ScheduleViewModel.FridayParent)
            {
                <p class="linehtless50">Friday</p>
            }
            @if (Model.ScheduleViewModel.SaturdayParent)
            {
                <p class="linehtless50">Saturday</p>
            }
            @if (Model.ScheduleViewModel.SundayParent)
            {
                <p class="linehtless50">Sunday</p>
            }
        </p>
    }
<p class="indented">
    The parenting schedule will begin
    @if (Model.ScheduleViewModel.DetermineBeginDate==((int)DateDetermination.Judge))
    {
        @: on the date of the Court's Order.
    }
    else
    {
        @: on @Model.ScheduleViewModel.BeginDate
    }
</p>
<div class="row-fluid">
    @if (!string.IsNullOrEmpty(Model.ScheduleViewModel.AdditionalProvisions))
    {
        <p class="indented">Additionally, the following provisions regarding weekday visitation will apply to the children: @Model.ScheduleViewModel.AdditionalProvisions</p>
    }
</div>
