@using Models.ViewModels
@model FriendlyForms.Models.DomesticMediationViewModel
@{
    ViewBag.Title = "";
}
@section Sidebar{
    <a href="@Url.Action("Index", "Home")" class="visible-phone"><i class="icon icon-home"></i>Home</a>
    <ul>
        <li><a href="@Url.Action("Index","Home")"><i class="icon icon-home"></i><span>Home</span></a></li>
        <li class="nav-item active" id="courtNav"><a href="#" data-form="court"><i class="icon-check"></i>Domestic Mediation</a></li>
    </ul>
}
@section Styles{
    <link href="@Url.Content("~/Content/pdf.css")" rel="stylesheet" />
}
@section ButtonGroup{
    <div class="btn-group">
        @using (Html.BeginForm("PrintForm", "Output", FormMethod.Post, new { id = "myform", target = "_blank" }))
        {
            <input type="hidden" id="html" name="html" />
            <button class="btn btn-large tip-bottom printForm" title="To PDF"><i class="icon-print"></i></button>
        }
    </div>
}
<div class="row-fluid" style="text-align: center;">
    <h2>DOMESTIC MEDIATION AGREEMENT</h2>
</div>
<p>This case is a Divorce.</p>
<p>@Model.ParticipantsViewModel.PlaintiffsName and @Model.ParticipantsViewModel.DefendantsName have agreed to abide by the following:</p>
<div class="row-fluid" style="text-align: center;">
    <h2>Matters Not Concerning Minor Children</h2>
</div>
@Html.Partial("_domesticMaritalHouse", Model)
@Html.Partial("_domesticProperty", Model)
@Html.Partial("_domesticVehicle", Model)
@Html.Partial("_domesticDebt", Model)
@Html.Partial("_domesticAsset", Model)
@Html.Partial("_domesticHealth", Model)
@Html.Partial("_domesticSpousal", Model)
@Html.Partial("_domesticTaxes", Model)
