@using Models.ViewModels
@model FriendlyForms.Models.DomesticMediationViewModel
@{
    ViewBag.Title = "";
}
@section Sidebar{
    <a href="@Url.Action("Index", "Home")" class="visible-phone"><i class="icon icon-home"></i>Home</a>
    <ul>
        <li><a href="@Url.Action("Index","Home")"><i class="icon icon-home"></i><span>Home</span></a></li>
        <li class="nav-item active" id="courtNav"><a href="#" data-form="court"><i class="icon-check"></i>Domestic Mediation</a></li>
    </ul>
}
@section Styles{
    <link href="@Url.Content("~/Content/pdf.css")" rel="stylesheet" />
}
@section ButtonGroup{
    <div class="btn-group">
        @using (Html.BeginForm("PrintForm", "Output", FormMethod.Post, new { id = "myform", target = "_blank" }))
        {
            <input type="hidden" id="html" name="html" />
            <button class="btn btn-large tip-bottom printForm" title="To PDF"><i class="icon-print"></i></button>
        }
    </div>
}
<div class="row-fluid" style="text-align: center;">
    <h2>DOMESTIC MEDIATION AGREEMENT</h2>
</div>
<p>This case is a Divorce.</p>
<p>@Model.ParticipantsViewModel.PlaintiffsName and @Model.ParticipantsViewModel.DefendantsName have agreed to abide by the following:</p>
<div class="row-fluid" style="text-align: center;">
    <h3>Matters not concerning minor children</h3>
</div>
@Html.Partial("_domesticMaritalHouse", Model)
@Html.Partial("_domesticProperty", Model)
@Html.Partial("_domesticVehicle", Model)
@Html.Partial("_domesticDebt", Model)
@Html.Partial("_domesticAsset", Model)
@Html.Partial("_domesticHealth", Model)
@Html.Partial("_domesticSpousal", Model)
@Html.Partial("_domesticTaxes", Model)
<div class="row-fluid" style="text-align: center;">
    <h3>Matters concerning minor children</h3>
</div>
<h4>Child Support</h4>
@if (Model.ChildSupportViewModel.TemporaryAgreement==(int)(YesNo.Yes))
{
    <p>This agreement is final.  For more information on child support, please refer to the Child Support Form.</p>
}
else
{
    <p>Note that this is a temporary agreement.</p>
}
<p>
    The parties have agreed that child support will be paid by @Model.ChildSupportViewModel.PaidBy to @Model.ChildSupportViewModel.PaidTo in the amount of $@Model.ChildSupportViewModel.MonthlyAmount per month. This is will be effective starting @Model.ChildSupportViewModel.PaymentDay and will be 
    @if (Model.ChildSupportViewModel.Payment==((int)YesNo.Yes))
    {
        @: paid by payroll deduction.
    }
    else
    {
        @: remitted directly from payor to payee.
    }
</p>
@using (Html.BeginForm("PrintForm", "Output", FormMethod.Post, new { id = "myform", target = "_blank" }))
{
    <input type="hidden" id="html" name="html" />
    <input type="submit" class="btn-primary btn printForm" value="Print to PDF" />
}