@model FriendlyForms.Models.OutputViewModel
@{
   
    ViewBag.Title = "Index";
}

@section Sidebar{
        <a href="@Url.Action("Index","Home")" class="visible-phone"><i class="icon icon-home"></i>Home</a>
        <ul>
            <li class="active"><a href="@Url.Action("Index","Home")"><i class="icon icon-home"></i><span>Home</span></a></li>
            <li><a href="@Url.Action("About","Home")"><i class="icon icon-briefcase"></i><span>About</span></a></li>
            <li><a href="@Url.Action("About","Home")"><i class="icon icon-question-sign"></i><span>Help</span></a></li>
        </ul>
}

@using(Html.BeginForm("Index","Output",FormMethod.Post)){
    @Html.TextBoxFor(m=>m.Word)
<input type="submit" value="submit" />
}
