@model FriendlyForms.Models.ParentingPlanViewModel
@{
    ViewBag.Title = "";
}
@section Sidebar{
    <a href="@Url.Action("Index", "Home")" class="visible-phone"><i class="icon icon-home"></i>Home</a>
    <ul>
        <li><a href="@Url.Action("Index", "Home")"><i class="icon icon-home"></i><span>Home</span></a></li>
        <li class="nav-item active" id="courtNav"><a href="#" data-form="court"><i class="icon-check"></i>Parenting</a></li>
    </ul>
}
@section Styles{
    <link href="@Url.Content("~/Content/pdf.css")" rel="stylesheet" />
}
@section ButtonGroup{
    <div class="btn-group">
        @using (Html.BeginForm("PrintForm", "Output", FormMethod.Post, new { id = "myform", target = "_blank" }))
        {
            <input type="hidden" id="html" name="html" />
            <button class="btn btn-large tip-bottom printForm" title="To PDF"><i class="icon-print"></i></button>
        }
    </div>
}
<div class="row-fluid" style="text-align: center;">
    <h1>PARENTING PLAN</h1>
</div>
@Html.Partial("_parentingCourt", Model)
@Html.Partial("_parentingChildren", Model)
@Html.Partial("_parentingSupervision", Model)
@Html.Partial("_parentingInformation", Model)
@Html.Partial("_parentingDecisions", Model)
@Html.Partial("_parentingResponsibility", Model)
@Html.Partial("_parentingCommunication", Model)
@Html.Partial("_parentingSchedule", Model)
@Html.Partial("_parentingHoliday", Model)
@Html.Partial("_ParentingEnd", Model)
@using (Html.BeginForm("PrintForm", "Output", FormMethod.Post, new { id = "myform", target = "_blank" }))
{
    <input type="hidden" id="html" name="html" />
    <input type="submit" class="btn-primary btn printForm" value="Print to PDF" />
}
