@model BusinessLogic.Models.AdministrationModel

@{
    ViewBag.Title = "Administration";
}
@section Sidebar{
    <a href="@Url.Action("Index", "Home",new {Id=@Model.Email.UserId}))" class="visible-phone"><i class="icon icon-home"></i>Home</a>
    <ul>
        <li><a href="@Url.Action("Index", "Home",new {Id=@Model.Email.UserId})"><i class="icon icon-home"></i><span>Home</span></a></li>
        <li><a href="@Url.Action("LogOff", "Account")"><i class="icon icon-share-alt"></i>Log Out</a></li>
    </ul>
}
<h4>Client List</h4>
@if (!Model.Clients.Any())
{
    <p>You do not have any clients at this time.</p>
}
else
{
    <div class="row-fluid child-table">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Starter Form</th>
                    <th>Parenting Form</th>
                    <th>Domestic Form</th>
                    <th>Financial Form</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model.Clients)
                {
                    <tr>
                        <td>@client.FirstName  @client.LastName</td>
                        <td>@client.Email</td>
                        <td><a href="@Url.Action("Starter", "Forms", new { Id= @client.Id })" title="Starter form">Starter Form</a></td>
                        <td><a href="@Url.Action("Parenting", "Forms", new { Id= @client.Id })" title="Parenting form">Parenting Form</a></td>
                        <td><a href="@Url.Action("DomesticMediation", "Forms", new { Id= @client.Id })" title="Domestic Mediation form">Domestic Form</a></td>
                        <td><a href="@Url.Action("Financial", "Forms", new { Id= @client.Id })" title="Financial form">Financial Form</a></td>
                    </tr>                
                }
            </tbody>
        </table>
    </div>    
}
<div class="row-fluid">
    <h4>Add Clients</h4>
    <p class="informative">
        To add a client, it is required to have the client's e-mail address.  Simply put their e-mail address in the field below, include a personalized message, click send and your message along with a link for your client to 
        create an account will be sent to their e-mail address.  Once they create an account, their name will appear in the list above and you and your client will have the ability to work on the forms.
    </p>
    <form action="/api/emails/" id="adminEmail" method="post">
        <div class="control-group">
@*            <label class="form-question">
                Client Email Address</label>*@
            @Html.TextBoxFor(m => m.Email.Email, new { placeholder = "Client Email" })
            @Html.ValidationMessageFor(m => m.Email.Email)
        </div>
        <div class="control-group">
@*            <label class="form-question">
                Your Law Firm</label>*@
            @Html.TextBoxFor(m => m.Email.LawFirm, new { placeholder = "Your Law Firm" })
            @Html.ValidationMessageFor(m => m.Email.LawFirm)
        </div>
        <div class="control-group">
            @Html.TextAreaFor(m => m.Email.Message, new { placeholder = "Message", @class="input-xxlarge" })
            @Html.ValidationMessageFor(m => m.Email.Message)
        </div>
        <button class="btn btn-primary" id="sendEmail" value="Send Email">Send</button>
    </form>
</div>
