@model BusinessLogic.Models.RegisterModel
@{
    ViewBag.Title = "Register";    
}
@section Sidebar{
        <a href="@Url.Action("Index","Home")" class="visible-phone"><i class="icon icon-home"></i>Home</a>
        <ul>
            <li class="active"><a href="@Url.Action("Index","Home")"><i class="icon icon-home"></i><span>Home</span></a></li>
            <li><a href="@Url.Action("About","Home")"><i class="icon icon-briefcase"></i><span>About</span></a></li>
            <li><a href="@Url.Action("About","Home")"><i class="icon icon-question-sign"></i><span>Help</span></a></li>
        </ul>
}
<h2>Create a New Account</h2>
<div class="row-fluid">
    <div class="span6" style="margin-top: 15px">
        <p>
            Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
        </p>

        <form class="well form-vertical" id="register" action="/api/register" method="POST">
            @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
            <div class="control-group">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email*" })
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-inline" })
            </div>
            <div class="control-group">
                @Html.TextBoxFor(m => m.DisplayName, new { placeholder = "Name*" })
                @Html.ValidationMessageFor(m => m.DisplayName, null, new { @class = "help-inline" })
            </div>
            <div class="control-group">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password*" })
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
            </div>
            <div class="control-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password*" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
            </div>
            <input type="hidden" name="AutoLogin" value="true" />
            <input type="hidden" name="Continue" value="/" />
            <input type="submit" id="submit" class="btn btn-primary" value="Sign up" />
        </form>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <p>*E-mail is needed for verification purposes only.  We will never send you spam.</p>
    </div>
</div>