@model FriendlyForms.Models.ChildAllViewModel
@using Models.ViewModels
<div class="form-vertical wrapper hide" id="childWrapper">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-signal"></i></span>
                    <h5>Add Children</h5>
                </div>
                <div class="widget-content">
                    @if (Model.ChildViewModel.Children != null && Model.ChildViewModel.Children.Any())
                    {
                        <div class="row-fluid child-table">
                            <table class="table table-bordered table-striped" style="width: 50%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var child in Model.ChildViewModel.Children)
                                    {
                                        <tr>
                                            <td class="child-name">@child.Name</td>
                                            <td class="child-dob">
                                                @if (child.DateOfBirth != null)
                                                {
                                                    @child.DateOfBirth.Value.ToString("MM/dd/yyyy")
                                                }
                                                else
                                                {
                                                    @:Not provided
                                                }
                                            </td>
                                            <td class="child-edit">
                                                <button class="btn-small btn-primary btn childEdit" title="Edit"><i class="icon-white icon-edit"></i></button>
                                                <button class="btn-small btn-primary btn childDelete" data-id="@child.Id" title="Delete"><i class="icon-white icon-trash"></i></button>
                                                <button class="btn-small btn-primary btn childDone hide" data-id="@child.Id" title="Done"><i class="icon-white icon-ok"></i>Done</button>
                                            </td>
                                            <td class="child-id hide">
                                                @child.Id
                                            </td>
                                        </tr>                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="row-fluid hide child-table">
                            <table class="table table-bordered table-striped" style="width: 50%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>                            
                    }
                    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "childForm" }))
                    {
                        <div class="control-group">
                            <label class="form-question">Are there children involved in this case?</label>
                            <label class="radio inline">Yes @Html.RadioButtonFor(m => m.ChildFormViewModel.ChildrenInvolved, (int)YesNo.Yes, new { @class = "inline" })</label>
                            <label class="radio inline">No @Html.RadioButtonFor(m => m.ChildFormViewModel.ChildrenInvolved, (int)YesNo.No, new { @class = "inline" })</label>
                            @Html.ValidationMessageFor(m => m.ChildFormViewModel.ChildrenInvolved)
                        </div>
                        <input type="hidden" id="childFormId" value="@Model.ChildFormViewModel.Id"/>                        
                    }
                    @if (Model.ChildFormViewModel.ChildrenInvolved == (int)YesNo.Yes)
                    {
                        using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "child" }))
                        {
                        <div class="control-group row-fluid child-info">
                            <label class="span2">Name</label>
                            @Html.TextBoxFor(m => m.ChildViewModel.Name, new { placeholder = "Name", @class = "hoverHelp", data_content = "Enter the child's full name here." })
                            @Html.ValidationMessageFor(m => m.ChildViewModel.Name)
                        </div>
                        <div class="control-group row-fluid child-info">
                            <label class="span2">Date of Birth</label>
                            @Html.TextBoxFor(m => m.ChildViewModel.DateOfBirth, new { placeholder = "MM/DD/YYYY", @class = "datepicker", data_date = @DateTime.Now.ToString("MM/dd/yyyy") })
                            @Html.ValidationMessageFor(m => m.ChildViewModel.DateOfBirth)
                        </div>
                        }
                        <button class="btn btn-primary child-info" style="margin-bottom: 20px;" id="addChild" value="Add">Add </button>
                    }
                    else
                    {
                        using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "child" }))
                        {
                        <div class="control-group row-fluid child-info hide">
                            <label class="span2">Name</label>
                            @Html.TextBoxFor(m => m.ChildViewModel.Name, new { placeholder = "Name", @class = "hoverHelp", data_content = "Enter the child's full name here." })
                            @Html.ValidationMessageFor(m => m.ChildViewModel.Name)
                        </div>
                        <div class="control-group row-fluid child-info hide">
                            <label class="span2">Date of Birth</label>
                            @Html.TextBoxFor(m => m.ChildViewModel.DateOfBirth, new { placeholder = "MM/DD/YYYY", @class = "datepicker", data_date = @DateTime.Now.ToString("MM/dd/yyyy") })
                            @Html.ValidationMessageFor(m => m.ChildViewModel.DateOfBirth)
                        </div>
                        }
                        <button class="btn btn-primary child-info hide" style="margin-bottom: 20px;" id="addChild" value="Add">Add </button>                        
                    }
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary child-part3" value="Done">Next Form<i class="icon-arrow-right icon-white"></i></button>
</div>
@Html.Partial("_templateChild")
