@model ChildrenViewModel
@using Models.ViewModels
<div class="form-vertical wrapper hide" id="childrenWrapper">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-signal"></i></span>
                    <h5>Add Children</h5>
                </div>
                <div class="widget-content">
                    <p class="informative">If there are no children involved in this case, click finish at the bottom without adding any children and you'll advance to the domestic mediation form.
                        If there are children, add the children, then click finish.  You'll then advance to the Parenting form.
                    </p>
                    @if (Model.Children != null && Model.Children.Any())
                    {
                        <div class="row-fluid child-table">
                            <table class="table table-bordered table-striped" style="width:50%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var child in Model.Children)
                                    {
                                        <tr>
                                            <td class="child-name">@child.Name</td>
                                            <td class="child-dob">
                                                @if (child.DateOfBirth != null)
                                                {
                                                    @child.DateOfBirth.Value.ToString("MM/dd/yyyy")
                                                }
                                                else
                                                {
                                                    @:Not provided
                                                }
                                            </td>
                                            <td class="child-id hide">
                                                @child.Id
                                            </td>
                                        </tr>                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="row-fluid hide child-table">
                            <table class="table table-bordered table-striped" style="width:50%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>                            
                    }
                    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "child" }))
                    {
                        <div class="control-group row-fluid other-other">
                            <label class="span2">Name</label>
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "hoverHelp", data_content = "Enter the child's full name here." })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="control-group row-fluid other-other">
                            <label class="span2">Date of Birth</label>
                            @Html.TextBoxFor(m => m.DateOfBirth, new { placeholder = "MM/DD/YYYY", @class = "datepicker", data_date = @DateTime.Now.ToString("MM/dd/yyyy") })
                            @Html.ValidationMessageFor(m => m.DateOfBirth)
                        </div>
                    }
                    <button class="btn btn-primary" id="addChild" value="Add">Add </button>
                    <br/>
                    <br />

                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary child-part3" value="Done">Next Form<i class="icon-arrow-right icon-white"></i></button>
</div>
@Html.Partial("_templateChild")
