@using Models.ViewModels
@model CommunicationViewModel
<div class="form-vertical wrapper hide" id="communicationWrapper">
    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "communication" }))
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Communication</h5>
                    </div>
                    <div class="widget-content">
                        <label class="informative">
                            <i class="icon icon-exclamation-sign"></i> Define how you will communicate with your child(ren) when they are with the other parent.</label>
                        <div class="control-group">
                            <label class="form-question">
                                When the child(ren) is/are with the other parent, will each of you want to be able to communicate with them while they are with the other parent?</label>
                            <label class="radio inline">Yes @Html.RadioButtonFor(m => m.AllowCommunication, (int)YesNo.Yes, new { @class = "inline" })</label>
                            <label class="radio inline">No @Html.RadioButtonFor(m => m.AllowCommunication, (int)YesNo.No, new { @class = "inline" })</label>
                            @Html.ValidationMessageFor(m => m.AllowCommunication)
                        </div>
                        <div class="control-group">
                            <label class="form-question">
                                What method(s) will the parents use to communicate? (check all that apply)</label>
                            @{
        var telephoneChecked = Model.Telephone ? "checked=checked" : "";
        var emailChecked = Model.Email ? "checked=checked" : "";
        var otherChecked = Model.Other ? "checked=checked" : "";
                            }
                            <label class="checkbox inline ">Telephone
                                <input class="inline valid" data-val="true" data-val-required="The Telephone field is required." id="Telephone" name="Telephone" type="checkbox" value="@Model.Telephone.ToString()" @telephoneChecked></label>
                            <label class="checkbox inline">Email
                                <input class="inline valid" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" type="checkbox" value="@Model.Email.ToString()" @emailChecked></label>
                            <label class="checkbox inline">Other
                                <input class="inline valid" data-val="true" data-val-required="The Other field is required." id="Other" name="Other" type="checkbox" value="@Model.Other.ToString()" @otherChecked></label>
                            @Html.ValidationMessageFor(m => m.Telephone)
                            @Html.ValidationMessageFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Other)
                        </div>
                        @if (Model.Other)
                        {
                            <div class="control-group communicate-other">
                                @Html.TextBoxFor(m => m.OtherMethod, new { placeholder = "Other method" })
                                @Html.ValidationMessageFor(m => m.OtherMethod)
                            </div>                
                        }
                        else
                        {
                            <div class="control-group communicate-other hide">
                                @Html.TextBoxFor(m => m.OtherMethod, new { placeholder = "Other method" })
                                @Html.ValidationMessageFor(m => m.OtherMethod)
                            </div>                
                        }
                        <div class="control-group">
                            <label class="form-question">
                                Should there be any limitations on the ability of one parent to communicate with the child while he/she is with the other parent?</label>
                            <label class="radio inline">Yes @Html.RadioButtonFor(m => m.Limitations, (int)YesNo.Yes, new { @class = "inline" })</label>
                            <label class="radio inline">No @Html.RadioButtonFor(m => m.Limitations, (int)YesNo.No, new { @class = "inline" })</label>
                            @Html.ValidationMessageFor(m => m.Limitations)
                        </div>
                        @if (Model.Limitations==((int)YesNo.Yes))
                        {
                            <div class="control-group communicate-method">
                                <label class="form-question">
                                    Define any limitations on communication</label>
                                @Html.TextBoxFor(m => m.LimitationDetails, new { placeholder = "Details", @class = "input-xxlarge  " })
                                @Html.ValidationMessageFor(m => m.LimitationDetails)
                            </div>
                        }
                        else
                        {
                            <div class="control-group communicate-method hide">
                                <label class="form-question">
                                    Define any limitations on communication</label>
                                @Html.TextBoxFor(m => m.LimitationDetails, new { placeholder = "Details", @class = "input-xxlarge  " })
                                @Html.ValidationMessageFor(m => m.LimitationDetails)
                            </div>
                        }
                        <div class="control-group">
                            <label class="form-question">
                               Should each parent notify the other of any changes of address or telephone number?</label>
                            <label class="radio inline">Yes @Html.RadioButtonFor(m => m.Notification, (int)YesNo.Yes, new { @class = "inline" })</label>
                            <label class="radio inline">No @Html.RadioButtonFor(m => m.Notification, (int)YesNo.No, new { @class = "inline" })</label>
                            @Html.ValidationMessageFor(m => m.Notification)
                        </div>
                        <div class="control-group">
                            <label class="form-question">
                                Should there be any limitations restricting access to rights of either parent?</label>
                            <label class="radio inline">Yes @Html.RadioButtonFor(m => m.AccessOfRights, (int)YesNo.Yes, new { @class = "inline" })</label>
                            <label class="radio inline">No @Html.RadioButtonFor(m => m.AccessOfRights, (int)YesNo.No, new { @class = "inline" })</label>
                            @Html.ValidationMessageFor(m => m.AccessOfRights)
                        </div>
                        @if (Model.AccessOfRights==((int)YesNo.Yes))
                        {
                            <div class="control-group communicate-rights">
                                <label class="form-question">
                                    How should the rights of either parent be limited?</label>
                                @Html.TextBoxFor(m => m.AccessOfRightsDetails, new { placeholder = "Explain Here", @class = "input-xxlarge  " })
                                @Html.ValidationMessageFor(m => m.AccessOfRightsDetails)
                            </div>
                        }
                        else
                        {
                            <div class="control-group communicate-rights hide">
                                <label class="form-question">
                                    How should the rights of either parent be limited?</label>
                                @Html.TextBoxFor(m => m.AccessOfRightsDetails, new { placeholder = "Explain Here", @class = "input-xxlarge  " })
                                @Html.ValidationMessageFor(m => m.AccessOfRightsDetails)
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    }
    <button class="btn btn-primary child-part8 next" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>
</div>
