@using Models.ViewModels
@model DeviationsViewModel
<div class="form-vertical wrapper" id="deviationsWrapper">
    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "deviations" }))
    {
        <input type="hidden" id="deviationsId" value="@Model.Id"/>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Deviations</h5>
                    </div>
                    <div class="widget-content">
                        <label class="informative">
                            <p>
                                The Court or Jury has discretion to allow or not allow the noncustodial parent to receive a Low Income 
                                                       or High Income Deviation that will decrease or increase the Presumptive Amount of Child Support.  If Low Income Deviation does not apply in this case, skip this section and go on to the next.
                            </p>
                            <p>
                                This section pertains to what is acceptable to the recipient and affordable to whomever is paying. This typically pertains to parties who have either high or low income, or extraordinary expenses. 
                                You may also apply other circumstances as both parties agree by using other non-specific deviations.
                            </p>
                        </label>
                        <div class="control-group row-fluid">
                            <label class="form-question">
                                Are you applying for a Child Support Payment Deviation?</label>
                            <label class="radio inline">Yes @Html.RadioButtonFor(m => m.Deviations, (int)YesNo.Yes, new { @class = "inline" })</label>
                            <label class="radio inline">No @Html.RadioButtonFor(m => m.Deviations, (int)YesNo.No, new { @class = "inline" })</label>
                            @Html.ValidationMessageFor(m => m.Deviations)
                        </div>
                        @if (Model.Deviations == ((int)YesNo.Yes))
                        {
                            <div class="deviation-other">
                                <h5>High Income Deviation</h5>
                                <p>
                                    Various life circumstances such as higher than average income, excess life insurance for children, sharing of tax 
                                credits for the children, etc can be considered by the court in allowing or disallowing deviation. This section may be used to 
                                request such deviation. You should consult the proper authority such as an attorney or tax advisor to determine eligibility.
                                </p>
                                <h5>Low Income Deviation</h5>
                                <p>
                                    The Court or Jury has discretion to allow or not allow the noncustodial parent to receive a Low Income Deviation 
                                that will reduce the Presumptive Amount of Child Support.  If Low Income Deviation does not apply in this case, click the “No” 
                                button and proceed to the next section.
                                </p>
                                <div class="control-group row-fluid">
                                    <label class="form-question">Would the amount of Child Support payable before you apply the deviation be unjust or inappropriate?</label>
                                    @Html.TextAreaFor(m => m.Unjust, new { placeholder = "Explain", @class = "input-xxlarge" })
                                    @Html.ValidationMessageFor(m => m.Unjust)
                                </div>
                                <div class="control-group row-fluid">
                                    <label class="form-question">Would the deviation serve the best interests of the child(ren) for whom support is being determined?</label>
                                    @Html.TextAreaFor(m => m.BestInterest, new { placeholder = "Explain", @class = "input-xxlarge" })
                                    @Html.ValidationMessageFor(m => m.BestInterest)
                                </div>
                                <div class="control-group row-fluid">
                                    <label class="form-question">
                                        Would the deviation seriously impair the ability of the custodial parent or non-parent custodian to 
                                        maintain minimally adequate housing, food and clothing for the children being supported by the order and 
                                        to provide other basic necessities?</label>
                                    @Html.TextAreaFor(m => m.Impair, new { placeholder = "Explain", @class = "input-xxlarge" })
                                    @Html.ValidationMessageFor(m => m.Impair)
                                </div>
                                <div class="control-group row-fluid">
                                    <label class="form-question">
                                        Do you wish to apply for a Low Income or High Income Deviation?</label>
                                    <label class="radio inline">High @Html.RadioButtonFor(m => m.HighLow, (int)YesNo.Yes, new { @class = "inline" })</label>
                                    <label class="radio inline">Low @Html.RadioButtonFor(m => m.HighLow, (int)YesNo.No, new { @class = "inline" })</label>
                                    @Html.ValidationMessageFor(m => m.HighLow)
                                </div>
                                @if (Model.HighLow == ((int)HighLow.Low))
                                {
                                    <div class="deviation-low">
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Enter "Proposed Low Income Deviation amount" AS A POSITIVE NUMBER.</label>
                                            @Html.TextBoxFor(m => m.LowDeviation, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.LowDeviation)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Explain why the noncustodial parent should be granted a Low Income Deviation.</label>
                                            @Html.TextAreaFor(m => m.WhyLow, new { placeholder = "Explain" })
                                            @Html.ValidationMessageFor(m => m.WhyLow)
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="deviation-low hide">
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Enter "Proposed Low Income Deviation amount" AS A POSITIVE NUMBER.</label>
                                            @Html.TextBoxFor(m => m.LowDeviation, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.LowDeviation)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Explain why the noncustodial parent should be granted a Low Income Deviation.</label>
                                            @Html.TextAreaFor(m => m.WhyLow, new { placeholder = "Explain" })
                                            @Html.ValidationMessageFor(m => m.WhyLow)
                                        </div>
                                    </div>                                    
                                }
                                @if (Model.HighLow == ((int)HighLow.High))
                                {
                                    <div class="deviation-high">
                                        <label class="informative">
                                            “Deviations are equally accepted by the court using either specific or non-specific reasons, 
                                            therefore you may choose to simply enter a total amount as a non-specific deviation below or click the checkbox 
                                            to enter one or more specific deviations</label>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Non-specific Deviations</label>
                                            @Html.TextBoxFor(m => m.NonSpecific, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.NonSpecific)
                                        </div>
                                        <h5>Specific Deviations</h5>
                                        <label class="informative">
                                            <p>
                                                Requested deviation amounts may be entered as a positive or negative number. For 
                                                negative numbers, add a minus sign "-" before the amount.
                                            </p>
                                            <p>
                                                Do not enter the TOTAL amount of monthly expenses; enter the requested amount 
                                                you want the court to consider as a deviation from the Presumptive Amount of Child Support.
                                            </p>
                                        </label>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">
                                                If you agree that the the Child Support Payment should be 
                                                modified on a monthly basis due to high income, enter the amount of increase to be applied to 
                                                the monthly Child Support Payment.</label>
                                            @Html.TextBoxFor(m => m.HighIncome, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.HighIncome)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Other Health Related Insurance</label>
                                            @Html.TextBoxFor(m => m.Health, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Health)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Life Insurance</label>
                                            @Html.TextBoxFor(m => m.Insurance, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Insurance)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Child and Dependent Care Tax Credit</label>
                                            @Html.TextBoxFor(m => m.TaxCredit, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.TaxCredit)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Visitation Related Travel Expenses</label>
                                            @Html.TextBoxFor(m => m.Visitation, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Visitation)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Alimony PAID</label>
                                            @Html.TextBoxFor(m => m.Alimony, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Alimony)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Mortgage (if non-custodial parent is providing cost of home where child resides)</label>
                                            @Html.TextBoxFor(m => m.Mortgage, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Mortgage)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Permanency Plan or Foster Care Plan</label>
                                            @Html.TextBoxFor(m => m.Permanency, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Permanency)
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="deviation-high hide">
                                        <label class="informative">
                                            Deviations are equally accepted by the court using either specific or non-specific reasons, 
                                            therefore you may choose to simply enter a total amount as a non-specific deviation below or click the checkbox 
                                            to enter one or more specific deviations</label>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Non-specific Deviations</label>
                                            @Html.TextBoxFor(m => m.NonSpecific, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.NonSpecific)
                                        </div>
                                        <h5>Specific Deviations</h5>
                                        <label class="informative">
                                            <p>
                                                Requested deviation amounts may be entered as a positive or negative number. For 
                                                negative numbers, add a minus sign "-" before the amount.
                                            </p>
                                            <p>
                                                Do not enter the TOTAL amount of monthly expenses; enter the requested amount 
                                                you want the court to consider as a deviation from the Presumptive Amount of Child Support.
                                            </p>
                                        </label>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">
                                                If you agree that the the Child Support Payment should be 
                                                modified on a monthly basis due to high income, enter the amount of increase to be applied to 
                                                the monthly Child Support Payment.</label>
                                            @Html.TextBoxFor(m => m.HighIncome, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.HighIncome)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Other Health Related Insurance</label>
                                            @Html.TextBoxFor(m => m.Health, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Health)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Life Insurance</label>
                                            @Html.TextBoxFor(m => m.Insurance, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Insurance)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Child and Dependent Care Tax Credit</label>
                                            @Html.TextBoxFor(m => m.TaxCredit, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.TaxCredit)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Visitation Related Travel Expenses</label>
                                            @Html.TextBoxFor(m => m.Visitation, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Visitation)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Alimony PAID</label>
                                            @Html.TextBoxFor(m => m.Alimony, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Alimony)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Mortgage (if non-custodial parent is providing cost of home where child resides)</label>
                                            @Html.TextBoxFor(m => m.Mortgage, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Mortgage)
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="span4 form-question">Permanency Plan or Foster Care Plan</label>
                                            @Html.TextBoxFor(m => m.Permanency, new { placeholder = "Amount" })
                                            @Html.ValidationMessageFor(m => m.Permanency)
                                        </div>
                                    </div>
                                }
                            </div>                                                     
                        }
                        else
                        {
                            <div class="deviation-other hide">
                                <h5>High Income Deviation</h5>
                                <p>
                                    Various life circumstances such as higher than average income, excess life insurance for children, sharing of tax 
                                credits for the children, etc can be considered by the court in allowing or disallowing deviation. This section may be used to 
                                request such deviation. You should consult the proper authority such as an attorney or tax advisor to determine eligibility.
                                </p>
                                <h5>Low Income Deviation</h5>
                                <p>
                                    The Court or Jury has discretion to allow or not allow the noncustodial parent to receive a Low Income Deviation 
                                that will reduce the Presumptive Amount of Child Support.  If Low Income Deviation does not apply in this case, click the “No” 
                                button and proceed to the next section.
                                </p>
                                <div class="control-group row-fluid">
                                    <label class="form-question">Would the amount of Child Support payable before you apply the deviation be unjust or inappropriate?</label>
                                    @Html.TextAreaFor(m => m.Unjust, new { placeholder = "Explain", @class = "input-xxlarge" })
                                    @Html.ValidationMessageFor(m => m.Unjust)
                                </div>
                                <div class="control-group row-fluid">
                                    <label class="form-question">Would the deviation serve the best interests of the child(ren) for whom support is being determined?</label>
                                    @Html.TextAreaFor(m => m.BestInterest, new { placeholder = "Explain", @class = "input-xxlarge" })
                                    @Html.ValidationMessageFor(m => m.BestInterest)
                                </div>
                                <div class="control-group row-fluid">
                                    <label class="form-question">
                                        Would the deviation seriously impair the ability of the custodial parent or non-parent custodian to 
                                        maintain minimally adequate housing, food and clothing for the children being supported by the order and 
                                        to provide other basic necessities?</label>
                                    @Html.TextAreaFor(m => m.Impair, new { placeholder = "Explain", @class = "input-xxlarge" })
                                    @Html.ValidationMessageFor(m => m.Impair)
                                </div>
                                <div class="control-group row-fluid">
                                    <label class="form-question">
                                        Do you wish to apply for a Low Income or High Income Deviation?</label>
                                    <label class="radio inline">High @Html.RadioButtonFor(m => m.HighLow, (int)YesNo.Yes, new { @class = "inline" })</label>
                                    <label class="radio inline">Low @Html.RadioButtonFor(m => m.HighLow, (int)YesNo.No, new { @class = "inline" })</label>
                                    @Html.ValidationMessageFor(m => m.HighLow)
                                </div>
                                <div class="deviation-low hide">
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Enter "Proposed Low Income Deviation amount" AS A POSITIVE NUMBER.</label>
                                        @Html.TextBoxFor(m => m.LowDeviation, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.LowDeviation)
                                    </div>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Explain why the noncustodial parent should be granted a Low Income Deviation.</label>
                                        @Html.TextAreaFor(m => m.WhyLow, new { placeholder = "Explain" })
                                        @Html.ValidationMessageFor(m => m.WhyLow)
                                    </div>
                                </div>
                                <div class="deviation-high hide">
                                    <label class="informative">
                                        Deviations are equally accepted by the court using either specific or non-specific reasons, 
                                            therefore you may choose to simply enter a total amount as a non-specific deviation below or click the checkbox 
                                            to enter one or more specific deviations</label>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Non-specific Deviations</label>
                                        @Html.TextBoxFor(m => m.NonSpecific, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.NonSpecific)
                                    </div>
                                    <h5>Specific Deviations</h5>
                                    <label class="informative">
                                        <p>
                                            Requested deviation amounts may be entered as a positive or negative number. For 
                                                negative numbers, add a minus sign "-" before the amount.
                                        </p>
                                        <p>
                                            Do not enter the TOTAL amount of monthly expenses; enter the requested amount 
                                                you want the court to consider as a deviation from the Presumptive Amount of Child Support.
                                        </p>
                                    </label>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">
                                            If you agree that the the Child Support Payment should be 
                                                modified on a monthly basis due to high income, enter the amount of increase to be applied to 
                                                the monthly Child Support Payment.</label>
                                        @Html.TextBoxFor(m => m.HighIncome, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.HighIncome)
                                    </div>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Other Health Related Insurance</label>
                                        @Html.TextBoxFor(m => m.Health, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.Health)
                                    </div>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Life Insurance</label>
                                        @Html.TextBoxFor(m => m.Insurance, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.Insurance)
                                    </div>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Child and Dependent Care Tax Credit</label>
                                        @Html.TextBoxFor(m => m.TaxCredit, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.TaxCredit)
                                    </div>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Visitation Related Travel Expenses</label>
                                        @Html.TextBoxFor(m => m.Visitation, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.Visitation)
                                    </div>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Alimony PAID</label>
                                        @Html.TextBoxFor(m => m.Alimony, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.Alimony)
                                    </div>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Mortgage (if non-custodial parent is providing cost of home where child resides)</label>
                                        @Html.TextBoxFor(m => m.Mortgage, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.Mortgage)
                                    </div>
                                    <div class="control-group row-fluid">
                                        <label class="span4 form-question">Permanency Plan or Foster Care Plan</label>
                                        @Html.TextBoxFor(m => m.Permanency, new { placeholder = "Amount" })
                                        @Html.ValidationMessageFor(m => m.Permanency)
                                    </div>
                                </div>
                            </div>                                                     
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <button class="btn btn-primary financial-part0 next">Continue <i class="icon-arrow-right icon-white"></i></button>
</div>
