@model ChildViewModel
@using Models.ViewModels
<div class="form-vertical hide" id="childOtherWrapper">
    <input type="hidden" id="supportId" />
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-signal"></i></span>
                    <h5>Add Children</h5>
                </div>
                <div class="widget-content">
                    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "childOther" }))
                    {
                        <div class="control-group row-fluid preexisting-other">
                            <label class="span4 form-question">Name</label>
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "hoverHelp", data_content = "Enter the child's full name here." })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="control-group row-fluid preexisting-other">
                            <label class="span4 form-question">Date of Birth</label>
                            @Html.TextBoxFor(m => m.DateOfBirth, new { placeholder = "MM/DD/YYYY", @class = "datepicker", data_date = @DateTime.Now.ToString("MM/dd/yyyy") })
                            @Html.ValidationMessageFor(m => m.DateOfBirth)
                        </div>
                    }
                    <button class="btn btn-primary" id="addChildSupportOther" value="Add">Add </button><br/><br/>
                    @if (Model.Children != null && Model.Children.Any())
                    {
                        <div class="row-fluid child-table">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var child in Model.Children)
                                    {
                                        <tr>
                                            <td>@child.Name</td>
                                            <td>
                                                @if (child.DateOfBirth != null)
                                                {
                                                    @child.DateOfBirth.Value.ToString("MM/dd/yyyy")
                                                }
                                                else
                                                {
                                                    @:Not provided
                                                    }
                                            </td>
                                        </tr>                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="row-fluid hide child-table">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>                            
                    }
                </div>
            </div>
        </div>
    </div>
</div>
