@model BusinessLogic.Models.AllPreexistingViewModel 
@using Models.ViewModels
<div class="form-vertical wrapper hide" id="preexistingSupportFormOtherWrapper">
    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "preexistingSupportFormOther" }))
    {
        <input type="hidden" id="preexistingSupportFormId" value="@Model.PreexistingSupportFormViewModel.Id"/>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Other Parent's Preexisting Child Support</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group row-fluid">
                            <label class="form-question">
                                Does the other parent make Current Court Ordered Child Support Payments for other children?</label>
                                <label class="radio inline">Yes @Html.RadioButtonFor(m => m.PreexistingSupportFormViewModel.Support, (int)YesNo.Yes, new{@class="inline"})</label>
                                <label class="radio inline">No @Html.RadioButtonFor(m => m.PreexistingSupportFormViewModel.Support, (int)YesNo.No, new{@class="inline"})</label>                                
                                @Html.ValidationMessageFor(m => m.PreexistingSupportFormViewModel.Support)                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @Html.Partial("_PreexistingSupportFormOther", Model.PreexistingSupportViewModel)
    @Html.Partial("_PreexistingChildFormOther", Model.ChildViewModel)
    @Html.Partial("_templateSupport")
    @Html.Partial("_templateChildSupport")
    <button class="btn btn-primary financial-part8 next">Continue <i class="icon-arrow-right icon-white"></i></button>
</div>