@model PreexistingSupportViewModel
@using Models.ViewModels
@{
    var hide = "hide";   
}
@if (Model.PreexistingSupportList.Any())
{
    hide = "";
}
<div class="form-vertical wrapper @hide" id="supportWrapper">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-signal"></i></span>
                    <h5>Preexisting Child Support</h5>
                </div>
                <div class="widget-content">
                    @using (Html.BeginForm("ChildSupport", "Forms", FormMethod.Post, new { id = "support" }))
                    {
                        <div class="control-group row-fluid preexisting-other">
                            <label class="span4">Court Name</label>
                            @Html.TextBoxFor(m => m.CourtName, new { placeholder = "Court Name" })
                            @Html.ValidationMessageFor(m => m.CourtName)
                        </div>
                        <div class="control-group row-fluid preexisting-other">
                            <label class="span4">Civil Action Case Number</label>
                            @Html.TextBoxFor(m => m.CaseNumber, new { placeholder = "Case Number" })
                            @Html.ValidationMessageFor(m => m.CaseNumber)
                        </div>
                        <div class="control-group row-fluid preexisting-other">
                            <label class="span4">Date of initial child support order</label>
                            @Html.TextBoxFor(m => m.OrderDate, new { placeholder = "Date", @class = "datepicker", data_date = @DateTime.Now.ToString("MM/dd/yyyy") })
                            @Html.ValidationMessageFor(m => m.OrderDate)
                        </div>
                        <div class="control-group row-fluid preexisting-other">
                            <label class="span4">Actual amount paid monthly for this order (do not include past due payment)</label>
                            @Html.TextBoxFor(m => m.Monthly, new { placeholder = "Per Month" })
                            @Html.ValidationMessageFor(m => m.Monthly)
                        </div>
                    }
                    <button class="btn btn-primary" id="addSupport" value="Add">Add </button><br/><br/>
                    @if (Model.PreexistingSupportList.Any())
                    {
                        <div class="row-fluid support-table">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Court Name</th>
                                        <th>Case Number</th>
                                        <th>Date</th>
                                        <th>Monthly Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var support in Model.PreexistingSupportList)
                                    {
                                        <tr>
                                            <td>@support.CourtName</td>
                                            <td>@support.CaseNumber</td>
                                            <td>@support.OrderDate.ToString("MM/dd/yyyy")</td>
                                            <td>$@support.Monthly</td>
                                            <td><a data-id="@support.Id" class="view-children" href="#">Children</a></td>
                                        </tr>                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="row-fluid hide support-table">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Court Name</th>
                                        <th>Case Number</th>
                                        <th>Date</th>
                                        <th>Monthly Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>                            
                    }
                </div>
            </div>
        </div>
    </div>
</div>
