@model BusinessLogic.Models.AllPreexistingViewModel 
@using Models.ViewModels
<div class="form-vertical wrapper hide" id="preexistingSupportWrapper">
    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "preexistingSupport" }))
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Preexisting Child Support</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group row-fluid">
                            <label class="span4">
                                Do you make Current Court Ordered Child Support Payments for other children?</label>
                            @if(Model.PreexistingSupportViewModel.PreexistingSupportList.Any())
                            {
                                <label class="radio inline">Yes @Html.RadioButtonFor(m => m.PreexistingSupportViewModel.Support, (int)YesNo.Yes, new{@class="inline", @checked = "checked"})</label>
                                <label class="radio inline">No @Html.RadioButtonFor(m => m.PreexistingSupportViewModel.Support, (int)YesNo.No, new{@class="inline"})</label>                                
                            } else
                            {
                                <label class="radio inline">Yes @Html.RadioButtonFor(m => m.PreexistingSupportViewModel.Support, (int)YesNo.Yes, new{@class="inline"})</label>
                                <label class="radio inline">No @Html.RadioButtonFor(m => m.PreexistingSupportViewModel.Support, (int)YesNo.No, new{@class="inline", @checked = "checked"})</label>                                                                
                            }
                            @Html.ValidationMessageFor(m => m.PreexistingSupportViewModel.Support)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @Html.Partial("_PreexistingSupportForm", Model.PreexistingSupportViewModel)
    @Html.Partial("_PreexistingChildForm", Model.ChildViewModel)
    @Html.Partial("_templateSupport")
    @Html.Partial("_templateChildSupport")
    <button class="btn btn-primary financial-part3 next">Continue <i class="icon-arrow-right icon-white"></i></button>
</div>