@using Models.ViewModels
@model PrivacyViewModel
<div class="form-vertical wrapper" id="privacyWrapper">
    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "privacy" }))
    {
        <input type="hidden" id="privacyId" value="@Model.Id"/>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Privacy</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group">
                            <label class="form-question">
                                Have there been documented prior acts of family violence that would cause either of you not to want the other party to have your addresses?</label>
                            <label class="radio">Yes @Html.RadioButtonFor(m => m.NeedPrivacy, (int)YesNo.Yes)</label>
                            <label class="radio">No @Html.RadioButtonFor(m => m.NeedPrivacy, (int)YesNo.No)</label>
                            @Html.ValidationMessageFor(m => m.NeedPrivacy)
                        </div>
                        <div class="control-group">
                            <label class="form-question">
                                Does either parent require supervised parenting time?</label>
                            <label class="radio">Yes @Html.RadioButtonFor(m => m.NeedSupervision, (int)YesNo.Yes)</label>
                            <label class="radio">No @Html.RadioButtonFor(m => m.NeedSupervision, (int)YesNo.No)</label>
                            @Html.ValidationMessageFor(m => m.NeedSupervision)
                        </div> 
                        @if (Model.NeedSupervision == (int)YesNo.Yes)
                        {
                            <div class="supervision-details">
                                <div class="control-group">
                                    <label class="form-question">
                                        How will supervised parenting time be applied during the day-to-day schedule?</label>
                                    @Html.TextAreaFor(m => m.SupervisionHow, new { placeholder = "Details", rows = "4", style = "width:98%" })
                                    @Html.ValidationMessageFor(m => m.SupervisionHow)
                                </div>
                                <div class="control-group">
                                    <label class="form-question">
                                        Where will supervised parenting time take place?</label>
                                    @Html.TextBoxFor(m => m.SupervisionWhere, new { placeholder = "Where"})
                                    @Html.ValidationMessageFor(m => m.SupervisionWhere)
                                </div>                                
                                <div class="control-group">
                                    <label class="form-question">
                                        Who will supervise the parenting time?</label>
                                    @Html.TextBoxFor(m => m.SupervisionWho, new { placeholder = "Person or organization"})
                                    @Html.ValidationMessageFor(m => m.SupervisionWho)
                                </div>                                
                                <div class="control-group">
                                    <label class="form-question">
                                        Who will be responsible for the cost of supervision?</label>
                                    <label class="radio">Father @Html.RadioButtonFor(m => m.SupervisionCost, (int)DecisionMaker.Father)</label>
                                    <label class="radio">Mother @Html.RadioButtonFor(m => m.SupervisionCost, (int)DecisionMaker.Mother)</label>
                                    <label class="radio">Cost will be shared @Html.RadioButtonFor(m => m.SupervisionCost, (int)DecisionMaker.Both)</label>
                                    @Html.ValidationMessageFor(m => m.SupervisionCost)
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="supervision-details hide">
                                <div class="control-group">
                                    <label class="form-question">
                                        How will supervised parenting time be applied during the day-to-day schedule?</label>
                                    @Html.TextAreaFor(m => m.SupervisionHow, new { placeholder = "Details", rows = "4", style = "width:98%" })
                                    @Html.ValidationMessageFor(m => m.SupervisionHow)
                                </div>
                                <div class="control-group">
                                    <label class="form-question">
                                        Where will supervised parenting time take place?</label>
                                    @Html.TextBoxFor(m => m.SupervisionWhere, new { placeholder = "Where"})
                                    @Html.ValidationMessageFor(m => m.SupervisionWhere)
                                </div>                                
                                <div class="control-group">
                                    <label class="form-question">
                                        Who will supervise the parenting time?</label>
                                    @Html.TextBoxFor(m => m.SupervisionWho, new { placeholder = "Person or organization"})
                                    @Html.ValidationMessageFor(m => m.SupervisionWho)
                                </div>                                
                                <div class="control-group">
                                    <label class="form-question">
                                        Who will be responsible for the cost of supervision?</label>
                                    <label class="radio">Father @Html.RadioButtonFor(m => m.SupervisionCost, (int)DecisionMaker.Father)</label>
                                    <label class="radio">Mother @Html.RadioButtonFor(m => m.SupervisionCost, (int)DecisionMaker.Mother)</label>
                                    <label class="radio">Cost will be shared @Html.RadioButtonFor(m => m.SupervisionCost, (int)DecisionMaker.Both)</label>
                                    @Html.ValidationMessageFor(m => m.SupervisionCost)
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    }
    <button class="btn btn-primary child-part4 next">Continue <i class="icon-arrow-right icon-white"></i></button>
</div>
