@using Models.ViewModels
@model TaxViewModel
<div class="form-vertical wrapper hide" id="taxWrapper">
    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "tax" }))
    {
        <input type="hidden" id="taxId" value="@Model.Id"/>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Taxes</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group">
                            <label class="form-question">
                                Will each party be entitled to tax deductions, allowances, credits and refunds based solely on his or her individual filing circumstances once the divorce is final?</label>
                            <label class="radio">Yes @Html.RadioButtonFor(m => m.Taxes, (int)YesNo.Yes)</label>
                            <label class="radio">No @Html.RadioButtonFor(m => m.Taxes, (int)YesNo.No)</label>
                            @Html.ValidationMessageFor(m => m.Taxes)
                        </div>
                        @if (Model.Taxes == ((int)YesNo.No))
                        {
                            <div class="control-group taxes-detail">
                                <label class="form-question">
                                    How will tax filing be handled at the conclusion of this case?</label>
                                @Html.TextAreaFor(m => m.TaxDescription, new { placeholder = "Details", @class = "input-xxlarge" })
                                @Html.ValidationMessageFor(m => m.TaxDescription)
                            </div>                          
                        }
                        else
                        {
                            <div class="control-group taxes-detail hide">
                                <label>
                                    How will tax filing be handled at the conclusion of this case?</label>
                                @Html.TextAreaFor(m => m.TaxDescription, new { placeholder = "Details", @class = "input-xxlarge" })
                                @Html.ValidationMessageFor(m => m.TaxDescription)
                            </div>                          
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <button class="btn btn-primary domestic-part8 next">Check Completion <i class="icon-arrow-right icon-white"></i></button>
    <p class="viewOutput hide"><span class="form-question">Congratulations!</span> The mediation agreement form is completely done.  Click the button below to view the output.</p>
    <button class="btn btn-primary next viewOutput hide" id="ViewOutput" data-url='/Output/DomesticMediation/' value="View">View Output<i class="icon-arrow-right icon-white"></i></button>

</div>
