@using Models.ViewModels
@model VehicleViewModel
<div class="form-vertical wrapper hide" id="vehiclesWrapper">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-signal"></i></span>
                    <h5>Vehicles</h5>
                </div>
                <div class="widget-content">
                    @using (Html.BeginForm("Parenting", "Forms", FormMethod.Post, new { id = "vehicles" }))
                    {
                        <label class="informative">
                            <br />
                            List each vehicle under consideration in this agreement.
                        </label>
                        <div class="control-group">
                            <label class="informative">Make</label>
                            @Html.TextBoxFor(m => m.Make, new { placeholder = "Make" })
                            @Html.ValidationMessageFor(m => m.Make)
                        </div>
                        <div class="control-group">
                            <label class="informative">Model</label>
                            @Html.TextBoxFor(m => m.VehicleModel, new { placeholder = "Model" })
                            @Html.ValidationMessageFor(m => m.VehicleModel)
                        </div>
                        <div class="control-group">
                            <label class="informative">Year</label>
                            @Html.TextBoxFor(m => m.Year, new { placeholder = "Year" })
                            @Html.ValidationMessageFor(m => m.Year)
                        </div>
                        <div class="control-group">
                            <label class="informative">Who will have possession of the vehicle</label>
                            @Html.TextBoxFor(m => m.Owner, new { placeholder = "Owner" })
                            @Html.ValidationMessageFor(m => m.Owner)
                        </div>
                        <div class="control-group">
                            <label class="informative">Will this vehicle be refinanced?</label>
                            <label class="radio">Yes @Html.RadioButtonFor(m => m.Refinanced, (int)YesNo.Yes)</label>
                            <label class="radio">No @Html.RadioButtonFor(m => m.Refinanced, (int)YesNo.No)</label>
                            @Html.ValidationMessageFor(m => m.Refinanced)
                        </div>
                        if (Model.Refinanced.Equals((int)YesNo.Yes))
                        {
                            <div class="control-group vehicle-refinance">
                                <label class="informative">In whose name will the vehicle be refinanced</label>
                                @Html.DropDownListFor(m => m.Name, Model.Names)
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>                
                            <div class="control-group vehicle-refinance">
                                <label class="informative">By what date will the vehicle be refinanced?</label>
                                @Html.TextBoxFor(m => m.RefinanceDate, new { placeholder = "MM/DD/YYYY", @class = "datepicker", data_date = @DateTime.Now.ToString("MM/dd/yyyy") })
                                @Html.ValidationMessageFor(m => m.RefinanceDate)
                            </div>                
                        }
                        else
                        {
                            <div class="control-group vehicle-refinance hide">
                                <label class="informative">In whose name will the vehicle be refinanced?</label>
                                @Html.DropDownListFor(m => m.Name, Model.Names)
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>                
                            <div class="control-group vehicle-refinance hide">
                                <label class="informative">By what date will the vehicle be refinanced?</label>
                                @Html.TextBoxFor(m => m.RefinanceDate, new { placeholder = "MM/DD/YYYY", @class = "datepicker", data_date = @DateTime.Now.ToString("MM/dd/yyyy") })
                                @Html.ValidationMessageFor(m => m.RefinanceDate)
                            </div>                
                        }
                    }
                    <button class="btn btn-primary" id="addVehicle" value="Add">Add </button><br /><br />

                    @if (Model.VehicleList != null && Model.VehicleList.Any())
                    {                        
                        <div class="row-fluid vehicle-table">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Make</th>
                                        <th>Model</th>
                                        <th>Year</th>
                                        <th>Owner</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var vehicle in Model.VehicleList)
                                    {
                                        <tr>
                                            <td>@vehicle.Make</td>
                                            <td>@vehicle.Model</td>
                                            <td>@vehicle.Year</td>
                                            <td>@vehicle.Owner</td>
                                        </tr>                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="row-fluid hide vehicle-table">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Make</th>
                                        <th>Model</th>
                                        <th>Year</th>
                                        <th>Owner</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>  
                    }

                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary domestic-part3 previous"><i class="icon-arrow-left icon-white"></i>Previous</button>
    <button class="btn btn-primary domestic-part3 next">Continue <i class="icon-arrow-right icon-white"></i></button>
    @Html.Partial("_templateVehicle")
</div>
