@model FriendlyForms.Models.DomesticMediationViewModel
@{
    ViewBag.Title = "Domestic Mediation";
}
@section Sidebar{
    @{
        var itemDone = "icon-ok icon-green";
        var itemlock = "";  
    }
    <a data-form="asdfa" href="@Url.Action("Index", "Home",new {Id=@Model.FormUserId})" class="visible-phone"><i class="icon icon-home"></i>Home</a>
    <ul>
        <li class="submenu open"><a href="#"><i class="icon icon-th-list"></i>Mediation Agreement</a>
            <ul style="display:block">
                <li class="nav-item active" id="houseNav"><a data-form="house" href="#"><i class="icon-pencil icon-blue"></i>Marital House</a></li>
                @if (Model.FormsCompleted.RealEstateCompleted)
                {
                    <li class="nav-item" id="propertyNav"><a data-form="property" href="#"><i class="@itemDone"></i>Personal Property</a></li>
                }
                else
                {
                    <li class="nav-item" id="propertyNav"><a data-form="property" href="#"><i class="@itemlock"></i>Personal Property</a></li>
                }
                @if (Model.FormsCompleted.VehicleCompleted)
                {
                    <li class="nav-item" id="vehicleNav"><a data-form="vehicle" href="#"><i class="@itemDone"></i>Vehicles</a></li>
                }
                else
                {
                    <li class="nav-item" id="vehicleNav"><a data-form="vehicle" href="#"><i class="@itemlock"></i>Vehicles</a></li>
                }
                @if (Model.FormsCompleted.DebtCompleted)
                {
                    <li class="nav-item" id="debtNav"><a data-form="debt" href="#"><i class="@itemDone"></i>Debt</a></li>
                }
                else
                {
                    <li class="nav-item" id="debtNav"><a data-form="debt" href="#"><i class="@itemlock"></i>Debt</a></li>
                }
                @if (Model.FormsCompleted.AssetCompleted)
                {
                    <li class="nav-item" id="assetNav"><a data-form="asset" href="#"><i class="@itemDone"></i>Assets</a></li>
                }
                else
                {
                    <li class="nav-item" id="assetNav"><a data-form="asset" href="#"><i class="@itemlock"></i>Assets</a></li>
                }
                @if (Model.FormsCompleted.HealthCompleted)
                {
                    <li class="nav-item" id="healthInsuranceNav"><a data-form="healthInsurance" href="#"><i class="@itemDone"></i>Health Insurance</a></li>
                }
                else
                {
                    <li class="nav-item" id="healthInsuranceNav"><a data-form="healthInsurance" href="#"><i class="@itemlock"></i>Health Insurance</a></li>
                }
                @if (Model.FormsCompleted.SpousalCompleted)
                {
                    <li class="nav-item" id="spousalNav"><a data-form="spousal" href="#"><i class="@itemDone"></i>Spousal Support</a></li>
                }
                else
                {
                    <li class="nav-item" id="spousalNav"><a data-form="spousal" href="#"><i class="@itemlock"></i>Spousal Support</a></li>
                }
                @if (Model.FormsCompleted.TaxCompleted)
                {
                    <li class="nav-item" id="taxNav"><a data-form="tax" href="#"><i class="@itemDone"></i>Taxes</a></li>
                }
                else
                {
                    <li class="nav-item" id="taxNav"><a data-form="tax" href="#"><i class="@itemlock"></i>Taxes</a></li>
                }
            </ul>
        </li>
        @if(Model.HasChildren)
        {
            <li><a href="@Url.Action("Parenting","Forms",new {Id=@Model.FormUserId})"><i class="icon icon-th-list"></i>Parenting Plan</a></li>        
            <li><a href="@Url.Action("Financial","Forms",new {Id=@Model.FormUserId})"><i class="icon icon-th-list"></i>Financial Form</a></li>
        }
        <li><a href="@Url.Action("LogOff","Account")"><i class="icon icon-share-alt"></i>Log Out</a></li>
    </ul>
}
@section Breadcrumb{
    <div id="breadcrumb">
        <a data-form="asdfa" href="@Url.Action("Index", "Home",new {Id=@Model.FormUserId})" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
        <a data-form="asdfa" href="#" class="current">Domestic Mediation</a>
    </div>
}
<input type="hidden" id="user-id" value="@Model.FormUserId" /> 

@Html.Partial("_MaritalHouse", Model.HouseViewModel)
@Html.Partial("_Property", Model.PropertyViewModel)
@Html.Partial("_Vehicles", Model.VehicleAllViewModel)
@Html.Partial("_Debt", Model.DebtViewModel)
@Html.Partial("_Assets", Model.AssetViewModel)
@Html.Partial("_HealthInsurance", Model.HealthInsuranceViewModel)
@Html.Partial("_SpousalSupport", Model.SpousalViewModel)
@Html.Partial("_Tax", Model.TaxViewModel)
@*@Html.Partial("_ChildSupport", Model.ChildSupportViewModel)*@
