@model BusinessLogic.Models.AllFinancialViewModel 
@{
    ViewBag.Title = "Financial";
}

@section Sidebar{
    @{
        var itemDone = "icon-ok";
        var itemlock = "icon-lock";  
    }
    <a href="@Url.Action("Index", "Home")" class="visible-phone"><i class="icon icon-home"></i>Home</a>
    <ul>
        <li class="nav-item active" id="incomeNav"><a data-form="income" href="#"><i class="icon-pencil"></i>Income</a></li>
        @if (Model.FinancialFormsCompleted.SocialSecurity)
        {
            <li class="nav-item" id="socialSecurityNav"><a data-form="socialSecurity" href="#"><i class="@itemDone"></i>Social Security</a></li>
        }
        else
        {
            <li class="nav-item" id="socialSecurityNav"><a data-form="socialSecurity" href="#"><i class="@itemlock"></i>Social Security</a></li>
        }
        @if (Model.FinancialFormsCompleted.Preexisting)
        {
            <li class="preexisting-item" id="preexistingNav"><a data-form="preexisting" href="#"><i class="@itemDone"></i>Preexisting Support</a></li>
        }
        else
        {
            <li class="preexisting-item" id="preexistingNav"><a data-form="preexisting" href="#"><i class="@itemlock"></i>Preexisting Support</a></li>
        }
        @if (Model.FinancialFormsCompleted.OtherChildren)
        {
            <li class="nav-item" id="otherChildrenNav"><a data-form="otherChildren" href="#"><i class="@itemDone"></i>Other Children</a></li>
        }
        else
        {
            <li class="nav-item" id="otherChildrenNav"><a data-form="otherChildren" href="#"><i class="@itemlock"></i>Other Children</a></li>
        }
        @if (Model.FinancialFormsCompleted.SpecialCircumstance)
        {
            <li class="nav-item" id="circumstanceNav"><a data-form="circumstance" href="#"><i class="@itemDone"></i>Special Circumstance</a></li>
        }
        else
        {
            <li class="nav-item" id="circumstanceNav"><a data-form="circumstance" href="#"><i class="@itemlock"></i>Special Circumstance</a></li>
        }
        @if (Model.FinancialFormsCompleted.IncomeOther)
        {
            <li class="nav-item" id="incomeOtherNav"><a data-form="incomeOther" href="#"><i class="@itemDone"></i>Income (Other)</a></li>
        }
        else
        {
            <li class="nav-item" id="incomeOtherNav"><a data-form="incomeOther" href="#"><i class="@itemlock"></i>Income (Other)</a></li>
        }
        @if (Model.FinancialFormsCompleted.SocialSecurityOther)
        {
            <li class="nav-item" id="socialSecurityOtherNav"><a data-form="socialSecurityOther" href="#"><i class="@itemDone"></i>Social Security (Other)</a></li>
        }
        else
        {
            <li class="nav-item" id="socialSecurityOtherNav"><a data-form="socialSecurityOther" href="#"><i class="@itemlock"></i>Social Security (Other)</a></li>
        }
        @if (Model.FinancialFormsCompleted.PreexistingOther)
        {
            <li class="preexistingOther-item" id="preexistingOtherNav"><a data-form="preexistingOther" href="#"><i class="@itemDone"></i>Preexisting Support (Other)</a></li>
        }
        else
        {
            <li class="preexistingOther-item" id="preexistingOtherNav"><a data-form="preexistingOther" href="#"><i class="@itemlock"></i>Preexisting Support (Other)</a></li>
        }
        @if (Model.FinancialFormsCompleted.OtherChildrenOther)
        {
            <li class="nav-item" id="otherChildrenOtherNav"><a data-form="otherChildrenOther" href="#"><i class="@itemDone"></i>Other Children (Other)</a></li>
        }
        else
        {
            <li class="nav-item" id="otherChildrenOtherNav"><a data-form="otherChildrenOther" href="#"><i class="@itemlock"></i>Other Children (Other)</a></li>
        }
        @if (Model.FinancialFormsCompleted.SpecialCircumstanceOther)
        {
            <li class="nav-item" id="circumstanceOtherNav"><a data-form="circumstanceOther" href="#"><i class="@itemDone"></i>Circumstances (Other)</a></li>
        }
        else
        {
            <li class="nav-item" id="circumstanceOtherNav"><a data-form="circumstanceOther" href="#"><i class="@itemlock"></i>Circumstances (Other)</a></li>
        }

    </ul>
}
@section Breadcrumb{
    <div id="breadcrumb">
        <a data-form="asdfa" href="@Url.Action("Index", "Home")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
        <a data-form="asdfa" href="#" class="current">Financial</a>
    </div>
}
@Html.Partial("_Income", Model.IncomeViewModel)
@Html.Partial("_SocialSecurity", Model.SocialSecurityViewModel)
@Html.Partial("_PreexistingSupport", Model.PreexistingSupportViewModel)
@Html.Partial("_OtherChildren", Model.OtherChildrenViewModel)
@Html.Partial("_SpecialCircumstance", Model.SpecialCircumstancesViewModel)
@Html.Partial("_IncomeOther", Model.IncomeOtherViewModel)
@Html.Partial("_SocialSecurityOther", Model.SocialSecurityOtherViewModel)
@Html.Partial("_PreexistingSupportOther", Model.PreexistingSupportOtherViewModel)
@Html.Partial("_OtherChildrenOther", Model.OtherChildrenOtherViewModel)
@Html.Partial("_SpecialCircumstanceOther", Model.SpecialCircumstancesOtherViewModel)
