@using FriendlyForms.Authentication
@model FriendlyForms.Models.StarterViewModel
@{
    ViewBag.Title = "Starter";
}
@section Sidebar{
    @{
        var itemDone = "icon-ok icon-green";
        var itemlock = "";  
    }
    <a href="@Url.Action("Index", "Home",new {userId=@Model.FormUserId})" class="visible-phone"><i class="icon icon-home"></i>Home</a>
    <ul>
        <li class="nav-item active" id="courtNav"><a href="#" data-form="court"><i class="icon-pencil icon-blue"></i>Court</a></li>
        @if (Model.StarterFormsCompleted.Participant)
        {
            <li class="nav-item" id="participantNav"><a href="#" data-form="participant"><i class="@itemDone"></i>Participants</a></li>
        }
        else
        {
            <li class="nav-item" id="participantNav"><a href="#" data-form="participant"><i class="@itemlock"></i>Participants</a></li>
        }
        @if (Model.StarterFormsCompleted.Children)
        {
            <li class="nav-item" id="childNav"><a data-form="child" href="#"><i class="@itemDone"></i>Children</a></li>
        }
        else
        {
            <li class="nav-item" id="childNav"><a data-form="child" href="#"><i class="@itemlock"></i>Children</a></li>
        }
    </ul>
}
@section Breadcrumb{
    <div id="breadcrumb">
        <a data-form="asdfa" href="@Url.Action("Index", "Home",new {userId=@Model.FormUserId})" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
        <a data-form="asdfa" href="#" class="current">Starter</a>
    </div>
}
<input type="hidden" id="user-id" value="@Model.FormUserId" /> 

@Html.Partial("_Court", Model.CourtViewModel)
@Html.Partial("_Participants", Model.ParticipantViewModel)
@Html.Partial("_Children", Model.ChildAllViewModel)
