@{
    ViewBag.Title = "";
}
@section Sidebar{
        <a href="@Url.Action("Index","Home")" class="visible-phone"><i class="icon icon-home"></i>Home</a>
        <ul>
            <li class="active"><a href="@Url.Action("Index","Home")"><i class="icon icon-home"></i><span>Home</span></a></li>
            <li><a href="@Url.Action("About","Home")"><i class="icon icon-briefcase"></i><span>About</span></a></li>
            <li><a href="@Url.Action("About","Home")"><i class="icon icon-question-sign"></i><span>Help</span></a></li>
        </ul>
}
@section Breadcrumb{
    <div id="breadcrumb">
        <a href="@Url.Action("Index","Home")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
    </div>
}
<div class="row-fluid">
    <!--/span-->
    <div class="span9">
        <div class="hero-unit">
            <h1>Welcome!</h1>
            <p>
                If you are not a registered user, you will need to register here.
            </p>
            <p>
                <a class="btn btn-primary btn-large">Register Here »</a>
            </p>
            <p>
                Otherwise, login and continue to fill out your form, monitor your status, and view
                other account information.
            </p>
            <p>
                <a class="btn btn-primary btn-large">Login Here »</a>
            </p>
        </div>
        <!--/row-->
    </div>
    <!--/span-->
</div>
<!--/row-->

