@model FriendlyForms.Models.AllFormsViewModel
@{
        ViewBag.Title = "Welcome";
}
@section Sidebar{           
        <a href="/" class="visible-phone"><i class="icon icon-home"></i>Home</a>
        <ul>
            <li class="active"><a href="/"><i class="icon icon-home"></i><span>Home</span></a></li>
            @if(ViewBag.IsAuthenticated)
            {
                    if(!Model.IsStarterDone)
                    {
                        <li><a href="@Url.Action("Starter","Forms")"><i class="icon icon-th-list"></i>Start Here</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("DomesticMediation","Forms")"><i class="icon icon-th-list"></i>Mediation Agreement</a></li>    
                        if(Model.HasChildren)
                        {
                            <li><a href="@Url.Action("Parenting","Forms")"><i class="icon icon-th-list"></i>Parenting Plan</a></li>        
                            <li><a href="@Url.Action("Financial","Forms")"><i class="icon icon-th-list"></i>Financial Form</a></li>
                        }
                    }
                    <li><a href="@Url.Action("LogOff","Account")"><i class="icon icon-share-alt"></i>Log Out</a></li>
                }
        </ul>
}
@section Breadcrumb{
    <div id="breadcrumb">
        <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
    </div>
}
<div class="row-fluid">
    <!--/span-->
    <div class="span9">
        <div class="hero-unit">
            <h1>Welcome!</h1>
            <p>
                If you are not a registered user, you will need to register here.
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="@Url.Action("Register","Account")">Register Here »</a>
            </p>
            <p>
                Otherwise, login and continue to fill out your form, monitor your status, and view
                other account information.
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="@Url.Action("LogOn","Account")">Login Here »</a>
            </p>
        </div>
        <!--/row-->
    </div>
    <!--/span-->
</div>
<!--/row-->

